body{
background-color: rgb(238, 159, 14);
}
h1{

font-family: cursive;
font-size: 22px;
font-weight: 600;
color: rgb(223, 223, 45);
}
h2{
    font-family: cursive;
    font-size: 20px;
    font-weight: inherit;
    color: rgb(210, 210, 228);
}
h3{
    color: rgb(209, 142, 16);
}
{url}
}